.cards-back, .cards-search
    border: none
    width: 45px
    height: 45px
    border-radius: 100px
    background-color: #ffffff
    box-shadow: 1px 1px 5px rgba(35, 35, 35, 0.15)
    &:active
        box-shadow: inset 2px 3px 4px #D1D9E6
        &:hover
            opacity: 0.8

.cards
    &-header
        display: flex
        justify-content: space-between
    &-input
        background: #FFFFFF
        box-shadow: inset 1px 1px 4px rgba(35, 35, 35, 0.15)
        border-radius: 53px
        border: none
        padding: 15px
        outline: none
        width: 309px
        height: 39px
        margin-right: 10px
    &-nav
        color: #f9b161
        font-family: Arial
        font-size: 22px
        margin-left: 10px
    &-wrapper
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(310px,1fr))
        grid-gap: 15px

.card
    &-item
        display: flex
        flex-direction: column
        padding: 12px
        align-items: center
        width: 309px
        height: 250px
        background: #FFFFFF
        box-shadow: 1px 2px 4px rgba(73, 73, 73, 0.15)
        border-radius: 10px
        margin-bottom: 45px
        margin: auto
        &__info
            position: relative
            width: 100%
            &::after
                content: ''
                margin: auto
                display: block
                box-sizing: border-box
                width: 265px
                height: 2px
                border: 1px solid rgba(196, 196, 196, 0.34)
                border-radius: 2px
                margin-bottom: 10px
        &__img
            border-radius: 100px
            display: block
            margin: auto
            margin-bottom: 6px
        &__text
            text-align: center
            margin-bottom: 6px
            > span
                display: block
                font-size: 17px
                margin-bottom: 6px
                font-family: Arial
                font-style: normal
                font-weight: bold
                font-size: 17px
                line-height: 20px
                text-align: center
                letter-spacing: 0.045em
                color: #042D48
        &__rating
            display: flex
            justify-content: space-between
            margin: auto
            max-width: 191px
        &__speciality
            font-family: Arial
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 18px
            color: #818991
        &__footer
            width: 100%
        &__feature
            max-width: 210px
            display: flex
            margin: auto
            justify-content: space-between
            align-items: center
            margin-bottom: 5px
        &__favicon
            margin-right: 17px
            display: flex
            align-items: center
            margin-right: 17px
        &__service
            font-family: Arial
            font-style: normal
            font-weight: normal
            font-size: 15px
            line-height: 19px
            color: #919599
            margin-right: auto
        &__price
            font-family: Arial
            font-style: normal
            font-weight: normal
            font-size: 13px
            color: #042D48

.star
    margin-right: 5px

@media (max-width: 498px)
    .cards
        &-input
            max-width: 180px
